* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar li {
  border-left: 1px solid black;
}

.navbar-toggler:hover {
  border: #7f7d7d 1px solid;
}

body {
  background-color: #ebebeb;
}

.descrizione {
  margin-top: 100px;
}
.descrizione h1:first-of-type {
  font-size: 170px;
  font-weight: 600;
  margin-bottom: 5px;
}
.descrizione h2 {
  font-size: 100px;
  line-height: 0.8em;
  z-index: 100;
}

@media screen and (max-width: 768.5px) {
  .descrizione .presentazione {
    display: none;
  }
}
/*Profile Card 3*/
.profile-card-3 {
  font-family: "Open Sans", Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height: 368px;
  border: none;
}

.profile-card-3 .background-block {
  float: left;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.profile-card-3 .background-block .background {
  width: 100%;
  vertical-align: top;
  opacity: 0.9;
  filter: blur(0.4px);
  transform: scale(2.8);
}

.profile-card-3 .card-content {
  width: 100%;
  padding: 15px 25px;
  color: #232323;
  float: left;
  background: #efefef;
  height: 50%;
  border-radius: 0 0 5px 5px;
  position: relative;
  z-index: 9999;
}

.profile-card-3 .card-content::before {
  content: "";
  background: #efefef;
  width: 120%;
  height: 100%;
  left: 11px;
  bottom: 51px;
  position: absolute;
  z-index: -1;
  transform: rotate(-13deg);
}

.profile-card-3 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 200px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(255, 255, 255);
  transform: translate(-50%, 0%);
  z-index: 99999;
}

.profile-card-3 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size: 30px;
}

.profile-card-3 h2 small {
  display: block;
  font-size: 19px;
  margin-top: 10px;
}

.profile-card-3 i {
  display: inline-block;
  font-size: 16px;
  color: #232323;
  text-align: center;
  border: 1px solid #232323;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: 0 5px;
}

.profile-card-3 .icon-block {
  float: left;
  width: 100%;
  margin-top: 15px;
}

.profile-card-3 .icon-block a {
  text-decoration: none;
}

.profile-card-3 i:hover {
  background-color: #232323;
  color: #fff;
  text-decoration: none;
}

.card-footer {
  z-index: 10000000;
  background-color: #efefef;
}